  <div class="header">
    <h1>
      Choose the model
    </h1>
  </div>

  <div class="bikes">
    <div class="bike-model">
      <div class="bike-name">
        <h1>SC2</h1>
      </div>
      <div class="bike-image">
        <img [src]="hostForImg + '/assets/images/SC2001.png'" alt="">
      </div>
      <div class="btn-container">
        <button class="select-bike btn" (click)="selectSC2()">Select SC2</button>
      </div>
    </div>
    <div class="bike-model">
      <div class="bike-name">
        <h1>SC3</h1>
      </div>
      <div class="bike-image">
        <img [src]="hostForImg + '/assets/images/SC2001.png'" alt="">
      </div>
      <div class="btn-container">
        <button class="select-bike btn" (click)="selectSC3()">Select SC3</button>
      </div>
    </div>
  </div>
  <div class="bike-features">
    <div class="description">
      <div class="bike-description">
        <p>
          SC2 is the bike for the studio that wants to take advantage of the smotthest ride and make their awesome instructors shine.
        </p>
      </div>
      <div class="standart-features">
        <div class="toggle-features">
          <span>Standart features</span>
        </div>
        <div class="features-list">
          <div class="features">
            <div>
              <span>CarbonGlyde</span>
              <i class="fa fa-check" aria-hidden="true"></i>
            </div>
          </div>
          <div class="features">
            <div>
              <span>Magnetic Resistance</span>
              <i class="fa fa-check" aria-hidden="true"></i>
            </div>
          </div>
          <div class="features">
            <div>
              <span>StagesFir Fore / Aft</span>
              <i class="fa fa-check" aria-hidden="true"></i>
            </div>
          </div>
          <div class="features">
            <div>
              <span>FitLoc Height Adjust</span>
              <i class="fa fa-check" aria-hidden="true"></i>
            </div>
          </div>
          <div class="features">
            <div>
              <span>SprintShift</span>
              <i class="fa fa-check" aria-hidden="true"></i>
            </div>
          </div>
          <div class="features">
            <div>
              <span>Stages Power Meter</span>
              <span class="option">Optional</span>
            </div>
          </div>
          <div class="features">
            <div>
              <span>Self Powered Console</span>
              <i class="fa fa-minus" aria-hidden="true"></i>
            </div>
          </div>
          <div class="features">
            <div>
              <span>Console</span>
              <span class="option">Optional</span>
            </div>
          </div>
          <div class="features">
            <div>
              <span>Frame</span>
              <span class="option">Aluminium</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="description">
      <div class="bike-description">
        <p>
          Ergonomically fit and engineered for simplicity and function, the SC3 seamlessly and wirelessly connects to your technology
        </p>
      </div>
      <div class="standart-features">
        <div class="toggle-features">
          <span>Standart features</span>
        </div>
        <div class="features-list">
          <div class="features">
            <div>
              <span>CarbonGlyde</span>
              <i class="fa fa-check" aria-hidden="true"></i>
            </div>
          </div>
          <div class="features">
            <div>
              <span>Magnetic Resistance</span>
              <i class="fa fa-check" aria-hidden="true"></i>
            </div>
          </div>
          <div class="features">
            <div>
              <span>StagesFir Fore / Aft</span>
              <i class="fa fa-check" aria-hidden="true"></i>
            </div>
          </div>
          <div class="features">
            <div>
              <span>FitLoc Height Adjust</span>
              <i class="fa fa-check" aria-hidden="true"></i>
            </div>
          </div>
          <div class="features">
            <div>
              <span>SprintShift</span>
              <i class="fa fa-check" aria-hidden="true"></i>
            </div>
          </div>
          <div class="features">
            <div>
              <span>Stages Power Meter</span>
              <i class="fa fa-check" aria-hidden="true"></i>
            </div>
          </div>
          <div class="features">
            <div>
              <span>Self Powered Console</span>
              <i class="fa fa-check" aria-hidden="true"></i>
            </div>
          </div>
          <div class="features">
            <div>
              <span>Console</span>
              <i class="fa fa-check" aria-hidden="true"></i>
            </div>
          </div>
          <div class="features">
            <div>
              <span>Frame</span>
              <span class="option">Aluminium</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
