<div class="container">
  <div>
    <form [formGroup]="resetPasswordForm">
      <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" formControlName="Email">
      </div>

      <div class="form-group">
        <label>Reset password</label>
        <input type="password" class="form-control" formControlName="Password">
      </div>

      <div class="form-group">
        <label>Re-enter password</label>
        <input type="password" class="form-control" formControlName="ConfirmPassword">
      </div>

      <div class="btn-container">
        <button class="form-btn" (click)="resetPassword()">Reset</button>
      </div>

      <div class="btn-container" *ngIf="isResetSuccess">
        Reset password successul
        <button class="form-btn" (click)="goToLoginPage()">Login</button>
      </div>

      <div class="message-container-failed" *ngIf="isResetFailed">
        <p *ngFor="let errorMessage of errorMessages">{{ errorMessage }}</p>
      </div>
    </form>
  </div>
</div>
