<div class="container" [ngStyle]="{'background-image': backImgSrc}">
  <div>
    <form [formGroup]="forgotPasswordForm">
      <label>Enter your email</label>
      <input type="email" class="form-control" formControlName="Email">
      <div class="btn-container">
        <button class="form-btn" (click)="forgotPassword()">Send email</button>
      </div>
    </form>
    <div class="message-container-success" *ngIf="isEmailSentSuccess">
      Email has been to your account
    </div>
    <div class="message-container-failed" *ngIf="isEmailSentFailed">
      Incorrect email, please try again
    </div>
  </div>
</div>
